@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;700&display=swap');

body{
	font-family: 'Playpen Sans', cursive;
	font-size:1em;
	font-wight:400;
}

h1{
	color: #66bbff;
}
.botao1{
	text-decoration: none;
	background-color:#66bbff;
	PADDING: 5PX 10PX 5PX 10PX;
	color: #fff;
	font-weight: 700;
	border-radius:5px;
}